.normal {
  width: 80px;
  height: 80px;
  background-color: skyblue;
}

.rotate {
  transform: rotate(45deg); /*поворачивается на 45 градусов*/
  width: 80px;
  height: 80px;
  background-color: pink;
}

.pulse {
   width: 100px;
   height: 100px;
   background-color: blue;
   border-radius: 50%;
   animation: pulse 2s infinite; 
}

@keyframes pulse {
   0% {
       transform: scale(1); /*Меняется масшатб*/
       opacity: 1;
   }
   50% {
       transform: scale(1.5);
       opacity: 0.5;
   }
   100% {
       transform: scale(1);
       opacity: 1;
   }
}

.slide {
   width: 100px;
   height: 100px;
   background-color: green;
   position: relative;
   animation: slideRight 3s infinite alternate, colorChange 3s infinite; /*Смещается по оси X в течении 3 секунд бесконечно и меняет цвет в течении 3 секунд бесконечно*/
}

@keyframes slideRight {
   from {
       transform: translateX(0);
   }
   to {
       transform: translateX(300px);
   }
}

@keyframes colorChange {
    0% {
        background-color: red;
    }

    25% {
        background-color: orange;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: blue;
    }

    100% {
        background-color: red;
    }
}

.Normal {
  width: 80px;
  height: 80px;
  background-color: skyblue;
}

.skewed {
  transform: skew(10deg); /*Наклоняет квадрат на 10 градусов*/
  background-color: pink;
  width: 80px;
  height: 80px;
}

.target:hover {
  background-color: darkorange;
  transform: translateX(47px) translateY(45px);
}

.target {
  font-size: 2rem;
  background-color: palegoldenrod;
  transition: background-color 2s, transform 3s;
  width: fit-content;
}