body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
 }
 h1 {
    color: black;
    text-align: middle;
    background-color: red
 }
 p {
    color: blue;
    font-weight: bold;
    font-size: 21px;
    background-color: seagreen;
 }
 #title {
    background-color: red;
 }
 .highlight {
    color: black;
    font-weight: bold;
    background-color:  green
}
 